{% extends 'home/layout.html' %}

<!--HEAD_HTML-->
{% block head %}
{% endblock head %}


<!--TITLE-->
{% block title %}
FreelancerCO Registration
{% endblock title %}

<!--BODY-->
{% block body %}

<!--header-->
<header>
    <h1>Registration page</h1>
</header>

<!--navigation-->
<nav>
    Skip for Now 
</nav>

<!--content-->
<main>
    <div class="form-group col-md-6 offset-md-3">
        <form class="" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Your form has errors
                {% for field in form %}
                    {% if field.errors %}
                        {{field.errors}}
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

                </button>
            </div>
        {% endif %}
    </div>
</main>

<!--side bar/ Related to links-->
<aside>
    <a href="{% url 'home:home' %}">Home</a>
</aside>

<br>
<hr>
<!--footer-->
<footer>
    <center> Copyright protect to JokCompany </center>
</footer>

{% endblock body %}