{% extends 'home/layout.html' %}

{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <style>
        h1 {
        font-family: "Sofia", sans-serif;
        font-size: 30px;
        text-shadow: 3px 3px 3px #ababab;
        }
    </style>
{% endblock head %}

{% block title %}
FreelancerCO
{% endblock title %}

{% block body %}

{% include 'home/navbar.html' %}

{% if messages %}
    {% for message in messages %}
        <br>
        {{message}}
    {% endfor %}
{% endif %}
<br>
<h1>Don't ignore Your goals</h1>

{% endblock body %}